version: '3.8'

services:
  # Base de Datos Central (Configuración y Auditoría)
  # Usamos una sola instancia con dos bases de datos para simplificar el MVP
  postgres:
    image: postgres:15-alpine
    container_name: flowjs-db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=flowjs_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d # Para crear las DBs al iniciar

  # Bus de Mensajes Interno para Auditoría
  nats:
    image: nats:2.9-alpine
    container_name: flowjs-bus
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # HTTP Monitoring port

  # UI de gestión de base de datos (Opcional, muy útil para debug)
  pgadmin:
    image: dpage/pgadmin4
    container_name: flowjs-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@flowjs.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data: